<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @sub_time.start %>
</p>

<p>
  <b>End:</b>
  <%= @sub_time.end %>
</p>

<p>
  <b>Task:</b>
  <%= @sub_time.task_id %>
</p>


<%= link_to 'Edit', edit_customer_task_sub_time_path(@customer, @task, @sub_time) %> |
<%= link_to 'Back', customer_task_sub_times_path(@customer, @task) %>
