=form_for([@customer, @task]) do |f| 
  -if @task.errors.any? 
    %div{id="error_explanation"}
      %h2
        =pluralize(@task.errors.count, "error")  
        prohibited this task from being saved:

      %ul
        -@task.errors.full_messages.each do |msg| 
          %li
            = msg
    
  %div{:class =>"field"}
    = f.label :name 
    %br
    = f.text_field :name, :autofocus => true
  
  %div{:class =>"field"}
    = f.label :total
    %br
    = f.text_field :total

  %div{:class =>"field"}
    = f.label :completed
    %br
    = f.check_box :completed

  %div{:class =>"field"}
    = f.label :invoiced?
    %br
    = f.check_box :invoiced

  %div{:class =>"actions"}
    = f.submit 
