%h1
  Listing tasks

%table
  %tr
    %th
      Date
    %th
      Customer
    %th
      Name
    %th
      Start time
    %th
      End time
    %th
      Total
    %th
      Invoiced at
    %th

  -@tasks.each do |task|
    %tr{:class => get_class(task.invoiced)}
      %td= task.start_time.to_s(:short)
      %td= customer_name(task.customer_id)
      %td= link_to task.name, task
      %td= task.start_time.strftime("%H:%M")
      %td= task.end_time.strftime("%H:%M")
      %td= task.total
      %td= task.invoiced_at.to_s(:short) unless task.invoiced_at.nil?
      %td= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete 
%br

= link_to 'New Task', new_task_path
