=render 'tiny_new.html.haml'

#toggle
  Toggle subtasks

%h2
  =customer_name
  Tasks
.right-aligned
  =button_to "Complete all", complete_all_customer_tasks_path(@customer), :method => :get
%table
  %thead
    %tr
      %th
        Created At
      %th
        Name
      %th
        StartAt
      %th
        EndAt
      %th
        Current
      %th
        Tag
      %th
        Total
      %th
      %th
      %th
      %th
      %th

  %tbody
    -@tasks.each do |task|
      %tr{:class => "#{get_class(task)}"}
        %td= task.created_at.to_s(:short)
        %td.name= link_to task.name, customer_task_path(task.customer,task)
        %td= best_in_place task, :start_at, :path => customer_task_path(task.customer, task)
        %td= best_in_place task, :end_at, :path => customer_task_path(task.customer, task)
        -print_running_task_time(task)
        %td= best_in_place task, :tag_list, :path => customer_task_path(task.customer, task)
        %td= task.total
        %td= start_link(task)
        %td= stop_link(task)
        %td= button_to 'Complete!', complete_customer_task_path(@customer, task), :method => :get
        %td= button_to 'delete!', customer_task_path(@customer, task), :method => :delete
              
  Current Time:
  %b
    =@tasks.total_time
= link_to 'New Task', new_customer_task_path(@customer)
= link_to 'summary', summary_customer_tasks_path(@customer)

= render :partial => 'completed_tasks.html.haml'
=# paginate @completed_tasks
