=render 'tiny_new.html.haml'

%h2
  =customer_name
  Tasks
.right-aligned
  =button_to "Complete all", complete_all_customer_tasks_path(@customer), :method => :get
%table
  %thead
    %tr
      %th
        Created At
      %th
        Name
      %th
        Total
      %th
        Current
      %th
      %th
      %th
      %th
      %th

  %tbody
    -@tasks.each do |task|
      %tr{:class => get_class(task)}
        %td= task.created_at.to_s(:short)
        %td.name= link_to task.name, customer_task_path(task.customer,task)
        %td= task.total
        -print_running_task_time(task)
        %td= start_link(task)
        %td= stop_link(task)
        %td= link_to 'sub_tasks', customer_task_sub_times_path(task.customer, task)
        %td= button_to 'Complete!', complete_customer_task_path(@customer, task), :method => :get
        %td= button_to 'delete!', customer_task_path(@customer, task), :method => :delete

= link_to 'New Task', new_customer_task_path(@customer)
= link_to 'summary', summary_customer_tasks_path(@customer)

= render :partial => 'completed_tasks.html.haml'
