%h2
  =customer_name
  Task Summary

%p
  =link_to "Export csv", summary_customer_tasks_path(@customer, :csv, {:start => params[:start], :end => params[:end]})

%table.data_table
  %thead
    %tr
      %th
        Name
      %th
        Started at
      %th
        Ended at
      %th
        Total(min)

  %tbody
    -total_array =[]
    - @grouped_tasks.each do |created_at, tasks|
      -tasks.each do |task|
        %tr
          %td= task.name
          %td= task.start_at
          %td= task.end_at
          %td= task.total
      %tr.gray
        %td Total
        %td{:colspan => "2"}=link_to(created_at, date_summary_customer_tasks_path(@customer, :created_at => created_at))
        %td= total(tasks)
%h2
  Total Hours:
  -get_grand_total(@grouped_tasks)


%div#chart
