%h1
  =customer_name
  Summary
%table
  %thead
    %tr
      %th
        Name
      %th
        Started at
      %th
        Ended at
      %th
        Total(min)
      %th

  %tbody
    -total_array =[]
    -@grouped_subtimes.each do |start,subs|
      -subs.each do |subtime|
        %tr
          %td= subtime.task.name
          %td= subtime.start.to_s(:short)
          %td= subtime.end.to_s(:short)
          %td= ((subtime.end-subtime.start)/60).ceil
          %td= link_to 'edit', edit_customer_task_sub_time_path(@customer, subtime.task, subtime)
      %tr{:class => 'gray'}
        %td
          %b
            Total
        %td{:colspan => "2"}
          %b
            =start.to_date
        %td{:colspan => "2"}
          %b
            -total(subs) 
            hrs
          
=image_tag(Gchart.line(:data => [1,2,3]))
