%p{:id =>"notice"}
  = notice

%p
  %br
  Name:
  = @customer.name 

= link_to 'tasks', customer_tasks_path(@customer)
|
= link_to 'Edit', edit_customer_path(@customer)  
|
= link_to 'Back', customers_path 
